@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "ListOfCustomers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Customers</h1>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
@if(!Model.Customer.Any())
 {
    <p>We don't have any customers yet.</p>
 }
  else 
  {
    <table class="Customers">
        <th>Customer</th>
        @foreach (var customer in Model.Customer)
         {
            <tr><td>@Html.ActionLink(customer.Name, "Details", "Customer", new { Id = customer.Id }, null)</td></tr>
         }

    </table>
  }





