@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "MovieTitles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Movie Titles</h2>
<ul>
    @foreach (var movie in Model.Movie)
    {
        <li>@movie.Name</li>
    }
</ul>
